<div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold mb-4">Device List</h2>

    <div *ngIf="error" class="error text-red-600">{{ error }}</div>

    <label for="max-hourly-consumption" class="block text-sm font-medium mb-2">Max Hourly Consumption:</label>
    <input
      id="max-hourly-consumption"
      type="number"
      [(ngModel)]="maxHourlyConsumptionFilter"
      (input)="filterDevices()"
      placeholder="Enter max hourly consumption"
      class="block w-full p-2 border border-gray-300 rounded mb-4"
    />

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
        <device-list-item *ngFor="let device of filteredDevices" [device]="device" class="col-span-1"></device-list-item>
    </div>

    <div *ngIf="filteredDevices.length === 0" class="text-gray-500 mt-4">No devices available.</div>
</div>
