<div class="bg-green-500 p-10 w-[30rem] rounded-r-full h-screen flex flex-col justify-start gap-28">
    <div>
        <i class="pi pi-user text-white text-7xl text-center m-14"></i>
    </div>
    <ul class="flex flex-col gap-4">
        <li *ngIf="isAdmin" class="text-white text-2xl hover:text-green-300 transition-colors duration-200">
            <i class="pi pi-users m-4"></i>
            <a (click)="navigateToUserList()" class="hover:underline">User List</a>
        </li>
        <li class="text-white text-2xl hover:text-green-300 transition-colors duration-200">
            <i class="pi pi-home m-4"></i>
            <a [routerLink]="['/home']" class="hover:underline">Home</a>
        </li>
        <li *ngIf="isAdmin" class="text-white text-2xl hover:text-green-300 transition-colors duration-200">
            <i class="pi pi-list m-4"></i>
            <a [routerLink]="['/all-devices']" class="hover:underline">Devices</a>
        </li>

        <li *ngIf = "!isAdmin" class="text-white text-2xl hover:text-green-300 transition-colors duration-200">
            <i class="pi pi-list m-4"></i>
            <a (click)="navigateToMyDevices()" class="hover:underline">My Devices</a>
        </li>

        <li class="text-white text-2xl hover:text-green-300 transition-colors duration-200">
            <i class="pi pi-sign-out m-4"></i>
            <a (click)="logout()" class="hover:underline">Logout</a>
        </li>
    </ul>
</div>
