<div class="
bg-gradient-to-br from-green-600 to-black
  w-10/12 text-portage-100 p-12 rounded-lg shadow-md flex items-center justify-between ml-28 mt-16">
    <img [src]="imageUrl"
         alt="Item Photo" class="h-32 md:w-48 md:h-48 object-cover rounded-full shadow-lg">
    <div class="flex items-center text-right relative flex-grow">
      <div class="flex-grow mr-8">
        <h1 class="text-3xl md:text-5xl font-bold mb-6">{{ title }}</h1>
        <p class="text-lg md:text-2xl">{{ subtitle }}</p>
          <ng-container *ngFor="let detail of details">
            <p class="text-lg md:text-2xl">{{ detail }}</p>
          </ng-container>
          <ng-content></ng-content>
    </div>
 </div>
  