.mainSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    
}
.songList{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 100px
}


.card{
    padding: 5px;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 10px;
    height:200px;
    width: 10vw;
    background-color: #6200EE;
}
.openDrawer{
    z-index: 20;
    color: #6200EE;
    height: auto;
    overflow: hidden;
    margin: 5px;
    font-size: 1rem;  
}
.title{
    color:  #6200EE;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    margin: 1rem;
}

.secondaryItems{
    color:  #6200EE;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
}
.HalfNav{
    display: flex;
    align-items: center;
    gap:1rem;
}

.glass{
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(239, 239, 239, 0.3);
}

.hover\:text-shadow:hover {
    text-shadow: 0 16px 16px rgba(130, 59, 255, 0.4);
  }
  
.grid {
    display: grid;
    gap: 1rem;
  }
  
  .relative {
    position: relative;
  }
  
  .hover-container {
    position: relative;
    overflow: hidden;
  }
  
  .text-wrapper {
    transition: transform 0.3s ease;
  }
  
  .hover-container:hover .text-wrapper {
    transform: translateY(-100px);
  }

  .hover-container:hover h1 {
    text-shadow: 0 16px 16px rgba(130, 59, 255, 0.4);
}
  
.reveal-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #6200EE;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
  

.hover-container:hover .reveal-button {
    opacity: 1;
    visibility: visible; 
}
  